/* CSS styles for Häst-kunskap - Om oss (about.html) */

/* ----- ANIMATION ----- */
@keyframes moveHorizontally {
    0% {
        left: 0px;                        /* 0px */
        background-color: red;
    }    
    18% {
        left: 50px;                     /* 50px */
        background-color: orange;
    }
    34% {
        left: 100px;                    /* 100px */
        background-color: yellow;
    }
    50% {
        left: 150px;                    /* 150px */
        background-color: green;
    }
    66% {
        left: 200px;                    /* 200px */
        background-color: blue;
    }
    82% {
        left: 250px;                    /* 250px */
        background-color: indigo;
    }
    100% {
        left: 300px;                    /* 300px */
        background-color: violet;
    }
}

.animation-rainbow {
    width: 3rem;
    height: 3rem;
    position: relative;
    background-color: red;
    border-radius: 3rem;
    margin-left: 0.5rem;
    
    animation-name: moveHorizontally;       
    animation-duration: 3s;                 
    animation-timing-function: linear;     /* bestämmer hastighetskurvan för animationen. 
                                            ease-in = startar långsamt, sedan accelererar 
                                            linear = samma hastighet hela animationen */
    animation-delay: 1s;                   
    animation-iteration-count: 30;  

    animation-direction: alternate;         /* direction anger om animationer ska spelas framåt, bakåt eller växla mellan de två. 
                                            alternate= animationen spelar framåt, sedan bakåt osv */
    animation-fill-mode: forwards;          /* fill mode bestämmer hur elementet ska visas före och efter animationen. 
                                            forwards= elementet behåller stilen från animationens sista nyckelram när den är klar */
    animation-play-state: running;          /* running bestämmer om animationen är pausad eller spelas upp: paused eller running */
}

.div-rainbow {                              /* rainbow line */
    max-width: 300px;                        
    margin-left: 25px;                                 
    height: 2rem;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}    

@media (prefers-reduced-motion){            /* Inställning i OS stänger av animeringseffekter. */
    * {                                     /* Testa i Chrome:                                 */
    animation: none !important;             /* I chrome->inspektera->"tre punkter"->more tools->rendering */
                                            /* i rendering-fliken -> "Emulate CSS media feature prefers-reduced-motion */
  }                                         /* animation: förkortad version av alla animation-egenskaperna */
                                            /* none: tar bort alla animationer  */
                                            /* !important: ger högsta prio till avstängningen av animationer 
                                                och överrider alla andra animationsregler i CSS */

}

