/* CSS styles for Häst-kunskap */
/* ----- ?????????? ----- */    /* template divide parts of file */

/* ----- GENERAL STYLING ----- */
:root {
    max-width: 1024px;
    margin: 0 auto;                                     /* [top and bottom] [left and right] */
    background-color: rgb(253,253,253); 
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 16px;

    /* CSS variabels */
    --hero-text-color: white;
    --hero-text-size: 2rem;

    --nav-bg-color: lightblue;
    --nav-item-color: midnightblue;
    --nav-item-hover: white;
    --nav-item-active: skyblue;

    --footer-text-color: midnightblue;
}


main {
    margin: 0 0.5rem;
    h1 {font-size: clamp(2rem, 2.5vw, 3rem);}           /* Responsive text styling */
    h2 {font-size: clamp(1.5rem, 2.2vw, 2rem);}
    h3 {font-size: clamp(1.2rem, 1.5vw, 1.8rem);}
    p  {font-size: clamp(1rem, 1.2vw, 1.2rem);}  
}

/* ----- HERO ----------- */
.hero-section{ 
    background-image: url(../images/03-horse-genome-nationalgeographic_1241846_1600x900.webp);
    background-repeat: no-repeat;       /* values: repeat/no-reapeat/repeat-x/repeat-y */

    background-position: center center; /* [xpos ypos] values: left/right/top/center/bottom */
    background-size: cover;             /* auto (original image size)/
                                           cover (resize to cover container, can stretch or cut to fit)/
                                           contain (resize to make sure image fully visible) */
    padding: 50px; 
    color: var(--hero-text-color);
    font-size: var(--hero-text-size);
    font-weight: bold;
    text-align: center;
}

/* ----- NAVIGATION ----- */            /* yvop fix senare gör nesting eller ta bort kommentaren */
/* nesting CSS syntax
parentrule {
  css declarations;
  & childrule {
    css declarations;  } 
}                           */
.nav-sticky{
    background-color: var(--nav-bg-color);
    position: sticky;
    top: 0;
    z-index: 1000;       
}

nav {                       /* navigation general settings */
    background-color: var(--nav-bg-color);
    display: flex;          /* flexbox */
    justify-content: space-between;
}
nav ul {                    /* remove markers for items */
    list-style-type: none; 
}
nav ul li {                 /* menu items at single line */
    display: inline-flex;   /* flexbox */
    margin: 0.3rem 1rem;
}
nav input[type="checkbox"], /* invisible checkbox and label*/
nav label {display:none;}

nav a {                     /* menu items (links) styling*/
    display: block;         /* to make padding work */
    color: var(--nav-item-color);         /* link text color*/
    text-align: center;
    padding: 4px 6px;       /* padding: [top and bottom] [right and left] around the text */
    text-decoration: none;  /* remove underlining */
}
nav a:hover{                /* yvop fix hover over menu item changes color*/
    background-color: var(--nav-item-hover);
}
nav img {                   /* yvop fix hover over menu item changes color affects img too since it is a link*/
    border: none;
    width:  20px;
}

.nav-active{               /* mark active menu choice*/
    font-weight: bold;
    border: solid;
    background-color: var(--nav-item-active);
}

@media only screen and (max-width: 1024px ){     /* navigation on medium screens */
    body {
        margin: 0;
    }
}

@media only screen and (max-width: 640px){      /* navigation on small screens */
    body {
        margin: 0;
    }
    
    nav {
        flex-direction: row;                /* flexbox */
        flex-wrap: wrap; 
        margin-left: 0;
        margin-right: 0;
    }
    nav ul{
        display: block;
    }
    nav ul:last-child {
        width: 100%;
        flex-basis: 100%;                   /* flexbox */
    }
    nav ul li {
        margin-bottom: 0;
        width: 100%;
        text-align: right;
        padding: 0.5rem;
    }

    nav input[type="checkbox"]:not(:checked)+ul {
    display:none;
    }
    nav label {
    text-align: right;
    display: block;
    padding: 0.5rem;
    line-height: 1.6rem;
    align-self: center;
    }
}

/* ----- FOOTER --------- */
footer {  
    color: var(--footer-text-color);                         
    font-size: 0.8rem;
    padding: 1.5rem;
    background-image: linear-gradient(to right, lightblue, skyblue, blue);
}

/* ----- ?????????? ----- */ 


