/* CSS styles for Häst-kunskap - main (index.html) */

/* ----- IMAGE GALLERY ----- */

.horse-gallery {
    display: flex;
    flex-wrap: wrap;
}

.horse-gallery-item { 
    margin: 5px;  
    width: 234px;  
}
.horse-gallery-item img {
    width: 100%;
    height: auto;
    border: solid 2px midnightblue;
}
