/* CSS styles for Häst-kunskap - Om oss (about.html) */


/* ----- MODAL ----- */
.link-to-modal {
    color:var(--about-button-text-color);
    text-decoration: none;
    padding: 6px 10px;
    cursor: pointer;
    /* Link style like a button possible, but not recommended */
        /* background-color: var(--about-button-bg-color); */
        /* text-align: center; */
        /* border: solid 1px; */
        /* border-radius: 5px;  */
}

.image-in-modal {
    width: 50%;
    max-width: 500px;
}

.modal-wrapper{
    position: fixed;        /* fixed= positioned relative to viewport, 
                               stays in the same position even when page is scrolled */
    top: 0;                 
    left: 0;                
    width: 100%;
    height: 100%;
    background-color: var(--modal-bg-color); /* html page grayed out half transparent behind the modal */
    opacity: 0;                              /* opacity=0 completely transparent */
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 2000;                          /* navbar has z-index=1000 */ 
}

.modal-wrapper:target {
    opacity: 1;                             /* opacity=1 not transparent at all  */
    visibility: visible;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;                       /* [top bottom] [left right] */
    padding: 20px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: var(--modal-box-shadow);
}


.close-button {
    /* Alternative position of the close X                          */
    /* close X in top right corner of html page behind the modal    */
        /* position: absolute;                                      */
        /* top: 10px;                                               */
        /* right: 10px;                                             */
    position: relative;     /* relative= positioned relative to its normal position */
    top: 0;
    left: 95%;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: var(--close-modal-cross-color);               
    background-color: var(--close-modal-cross-bg-color);
    border: solid 2px var(--close-modal-cross-color);  
}

/* ----- ANIMATION ----- */
@keyframes moveHorizontally {
    0% {
        left: 0px;                      
        background-color: red;
    }    
    18% {
        left: 50px;                     
        background-color: orange;
    }
    34% {
        left: 100px;                    
        background-color: yellow;
    }
    50% {
        left: 150px;                    
        background-color: green;
    }
    66% {
        left: 200px;                    
        background-color: blue;
    }
    82% {
        left: 250px;                   
        background-color: indigo;
    }
    100% {
        left: 300px;                    
        background-color: violet;
    }
}

.animation-rainbow {
    width: 3rem;
    height: 3rem;
    position: relative;
    background-color: red;
    border-radius: 3rem;
    margin-left: 0.5rem;
    
    animation-name: moveHorizontally;       
    animation-duration: 3s;                 
    animation-timing-function: linear;     /* ease-in = startar långsamt, sedan accelererar 
                                              linear = samma hastighet hela animationen */
    animation-delay: 1s;                   
    animation-iteration-count: 30;  

    animation-direction: alternate;         /* alternate= animationen spelar framåt, sedan bakåt osv */
    animation-fill-mode: forwards;          /* fill mode bestämmer hur elementet ska visas före och efter animationen. 
                                               forwards= elementet behåller stilen från animationens sista keyframe när den är klar */
    animation-play-state: running;          /* running bestämmer om animationen är pausad eller spelas upp: paused eller running */
}

.div-rainbow {                              /* rainbow line */
    max-width: 300px;                        
    margin-left: 25px;                                 
    height: 2rem;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}    

