/* CSS styles for Häst-kunskap*/
/* ----- ?????????? ----- */    /* template divide parts of file */

/* ----- HERO ----------- */
.hero-section{                  /* yvop fix styling, kolla både jättestor och lite skärm*/
    background-image: url(./images/03-horse-genome-nationalgeographic_1241846_1600x900.webp);
    background-repeat: no-repeat;       /* repeat/no-reapeat/repeat-x/repeat-y */
    background-position: center center; /* */
    background-color: aqua;           /* */
    background-size: cover ;            /*cover/contain/fill*/
    padding: 50px;                     /* padding-top: 500px;  */ 
    font-size: 24px;                    /* */
    font-weight: bold;                  /* */
    text-align: center;                 /* */
}

/* ----- NAVIGATION ----- */
nav {                       /* navigation on large screens */
    background-color: greenyellow;
    color: red;
    display: flex;
    justify-content: space-between;
}
nav ul {                    /* remove markers for items */
    list-style-type: none; 
}
nav ul li {                 /* menu items at single line */
    display: inline-flex; 
    margin: 0.3em 1 em;
}
nav input[type="checkbox"], /* invisible checkbox and label*/
nav label {
    display:none;
}
nav img {
    border: none;
    width:  auto;           /* yvop fixa styling för ikon-storlek  */
}
@media (max-width: 640px){  /* navigation on small screens */
    nav {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }
    nav ul{
        display: block;
    }
    nav ul:last-child {
        width: 100%;
        flex-basis: 100%;
    }
    nav ul li {
        margin-bottom: 0;
        width: 100%;
        text-align: right;
        padding: 0.5em;
    }

    input[type="checkbox"]:not(:checked)+ul {
    display:none;
    }
    nav label {
    text-align: right;
    display: block;
    padding: 0.5em;
    line-height: 1.6em;
    align-self: center;
    }
    nav img{
        border: solid;
       /* width: auto;
       height: ; välj en så får den andra hänga med     
                                /* yvop fixa styling för ikon-storlek  */
    }    
}
                        /* navigation active page, marks acitve menu choice*/
.nav-active {
    font-weight: bold;
    background-color: red;
}

/* ----- ?????????? ----- */ 
